.section {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.colorVariety {
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    margin-right: 16px;
    transition: .2s ease;
    border: 2px solid transparent;
}

.feature {
    display: inline-block;
    padding: 8px 16px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    background-color: #e5e5e5;
    margin: 0 8px 8px 0;
    border-radius: 8px;
    cursor: pointer;
}

.selectedImage {
    width: 100%;
    position: relative;
}

.buyButton {
    background-color: teal;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-top: 8px;
}

.selectedColor {
    border-color: teal;
    border-radius: 8px;
    transform: scale(1.2);
}

.selectedFeature {
    color: white;
    background-color: #868686;
}

.displaySection {
    position: relative;
}

.selectedFeatureText {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 32px;
    color: white;
}


/* The dimensions are used keeping in mind the Ipad pro "12.9" and lower. */
@media only screen and (max-width: 1024px),
(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .section {
        grid-template-columns: 100%;
    }

    .displaySection {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selectedImage {
        width: 75%;
    }
}